In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## 데이터 준비
#### 훈련 및 검증 데이터 읽어오기

In [23]:
train_org = pd.read_csv('train.csv')
test_org = pd.read_csv('test.csv')

In [24]:
train_org.shape, test_org.shape

((4209, 378), (4209, 377))

In [25]:
train_org.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [26]:
test_org.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

#### 훈련 데이터, 레이블, 검증 데이터 준비

In [27]:
train = train_org.iloc[:, 2:]
target = train_org.y
test = test_org.iloc[:, 1:]

In [28]:
train.shape, target.shape, test.shape

((4209, 376), (4209,), (4209, 376))

In [43]:
data_num = pd.concat([train, test])
print(data.shape)
data.head()

(8418, 376)

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,42,13,39,4,2,17,1,7,0,0,...,0,0,1,0,0,0,0,0,0,0
1,42,9,24,6,2,0,0,7,0,0,...,1,0,0,0,0,0,0,0,0,0
2,9,18,45,0,2,24,1,18,0,0,...,0,0,0,0,0,0,1,0,0,0
3,9,9,45,1,2,24,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,13,45,1,2,8,5,22,0,0,...,0,0,0,0,0,0,0,0,0,0

#### 범주형 데이터를 더미 데이터로 변환

In [51]:
data_dummies = pd.get_dummies(data_num)
print(data_dummies.shape)
data_dummies.head()

(8418, 579)

,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,...,X8_p,X8_q,X8_r,X8_s,X8_t,X8_u,X8_v,X8_w,X8_x,X8_y
0,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### 범주형 데이터를 수치형 데이터로 변환

In [55]:
for i in range(8):
    k = list(set(data_num.iloc[:, i]))
    d = dict(zip(k, range(len(k))))

    data_num.iloc[:, i] = data_num.iloc[:, i].replace(d)
    
data_num.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,42,13,39,4,2,17,1,7,0,0,...,0,0,1,0,0,0,0,0,0,0
1,42,9,24,6,2,0,0,7,0,0,...,1,0,0,0,0,0,0,0,0,0
2,9,18,45,0,2,24,1,18,0,0,...,0,0,0,0,0,0,1,0,0,0
3,9,9,45,1,2,24,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,13,45,1,2,8,5,22,0,0,...,0,0,0,0,0,0,0,0,0,0

#### 랜덤 포레스트 수행

In [62]:
split_position = int(data_dummies.shape[0]/2)
train_dummies = data_dummies.iloc[:split_position, :]
test_dummies = data_dummies.iloc[split_position:, :]
train_num = data_num.iloc[:split_position, :]
test_num = data_num.iloc[split_position:, :]

In [67]:
from sklearn.ensemble import RandomForestRegressor

forest_dummies = RandomForestRegressor(n_estimators=10, max_depth=4)
forest_dummies.fit(train_dummies, target)

forest_num = RandomForestRegressor(n_estimators=10, max_depth=4)
forest_num.fit(train_num, target)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=4,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [69]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

kfold = KFold(n_splits=30)

scores_dummies = cross_val_score(forest_dummies, train_dummies, target, cv=kfold)
print("랜덤 포레스트 교차 검증 점수:\n{}\n평균: {}".format(
    scores_dummies, scores_dummies.mean()))

scores_num = cross_val_score(forest_num, train_num, target, cv=kfold)
print("랜덤 포레스트 교차 검증 점수:\n{}\n평균: {}".format(
    scores_num, scores_num.mean()))

랜덤 포레스트 교차 검증 점수:
[0.62699696 0.61103456 0.61941063 0.6813493  0.53820721 0.66536956
 0.18108294 0.53173565 0.55418472 0.52417907 0.57604134 0.5446807
 0.62713616 0.69104661 0.70001347 0.67950991 0.4639429  0.45522083
 0.61233721 0.50091463 0.38603886 0.6545757  0.48987345 0.68424727
 0.61144309 0.7056099  0.60103126 0.6822024  0.70503167 0.61560579]
평균: 0.5840017907363315
랜덤 포레스트 교차 검증 점수:
[0.62059025 0.61528613 0.65787276 0.68057852 0.52903974 0.68279304
 0.18391932 0.53164277 0.55841412 0.51952911 0.56539236 0.54584554
 0.62870253 0.68693495 0.70738131 0.68174466 0.47302059 0.47751571
 0.61907525 0.50295467 0.37405707 0.67594432 0.51142662 0.67752972
 0.59682313 0.71288782 0.61090375 0.65734741 0.70289321 0.608192  ]
평균: 0.5865412799333529

In [78]:
prediction_dummies = forest_dummies.predict(test_dummies)

result_dummies = pd.DataFrame({'ID': test_org.ID, 'y': prediction_dummies})

result_dummies.to_csv('result_dummies.csv', index=False)

In [87]:
prediction_num = forest_num.predict(test_num)

result_num = pd.DataFrame({'ID': test_org.ID, 'y': prediction_num})

result_num.to_csv('result_num.csv', index=False)

In [54]:
type(data.iloc[:, :8])

pandas.core.frame.DataFrame

In [40]:
pd.get_dummies(data.iloc[:,:8])`

      X0  X1  X2  X3  X4  X5  X6  X8
0     42  13  39   4   2  17   1   7
1     42   9  24   6   2   0   0   7
2      9  18  45   0   2  24   1  18
3      9   9  45   1   2  24   0   4
4      9  13  45   1   2   8   5  22
5     24  12  10   0   2  12   3  19
6     31   2  10   1   2  21   3  19
7     20   1  35   1   2  21   1  10
8     39  21  35   6   2  21   8   6
9     47  12   7   0   2  21   7   4
10    19   2   4   1   2  21   3   3
11    31   2  10   1   2  21   3   7
12    44  12  21   0   2  21   6   5
13    31   2  10   1   2  27   3   7
14    20  21  35   6   2  27   6   5
15    49   1  16   1   2  27   5  17
16    31   2  10   1   2  27   3   7
17     1   8  35   0   2  27   2  23
18    41  23  13   0   2  27   5   4
19    49  11  16   1   2  27   8  19
20    41  21  13   0   2  27   1  24
21    24   8  35   2   2  27   1  19
22    45   2  23   5   2  27   1   7
23    45  12  13   0   2  27   1  22
24     0   2  16   2   2  27   5  19
25    20  21  13   0   2  27   8  12
26    15   1  35   1   2  27   6  20
27    24   8  35   0   2  27   5  11
28    41  21  35   0   2  27   2  14
29    45  12  13   0   2  27   1  22
...   ..  ..  ..  ..  ..  ..  ..  ..
4179  23  13  16   0   2  10   6   5
4180  15   1  35   1   2  10   8  21
4181  24  12  13   4   2  10   1  15
4182  37  12   8   4   2  10   5   4
4183  50  26  35   4   2  10   0  20
4184  45   8  35   4   2  10   1  12
4185  16   7   8   1   2  10   8   9
4186  37   8  13   0   2  10   8  19
4187  45   7  31   0   2  10   1   6
4188  45   2  35   1   2  10   5  16
4189  44  12  13   4   2  10   5   3
4190  21   6  35   1   2  10   6  14
4191  44   8  21   0   2  10   1  15
4192   1   8  35   0   2  10   0   7
4193  41   3  16   0   2  10   1   6
4194  39   4  35   4   2  10   6  12
4195  37  13  23   5   2  10   1  11
4196  15   1  35   1   2  10   1   4
4197   1   2  13   1   2  10   6   3
4198  21   4  35   4   2  10   1  10
4199  31   7  36   1   2  10   5   9
4200  31   2  10   1   2  10   0  13
4201  20   1  35   1   2  10   5  10
4202  47  26  35   4   2  10   0  22
4203  47   7  20   2   2  10   1   1
4204  15   6  35   1   2  10   1   4
4205  24   8  21   2   2  10   1   0
4206   0  13  35   1   2  10   5  15
4207  21  13  35   4   2  10   2  14
4208  24   8  21   0   2  10   6   2

[8418 rows x 8 columns]

In [34]:
data_dummies = pd.get_dummies(data)
data_dummies.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,42,13,39,4,2,17,1,7,0,0,...,0,0,1,0,0,0,0,0,0,0
1,42,9,24,6,2,0,0,7,0,0,...,1,0,0,0,0,0,0,0,0,0
2,9,18,45,0,2,24,1,18,0,0,...,0,0,0,0,0,0,1,0,0,0
3,9,9,45,1,2,24,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,13,45,1,2,8,5,22,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
data.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,42,13,39,4,2,17,1,7,0,0,...,0,0,1,0,0,0,0,0,0,0
1,42,9,24,6,2,0,0,7,0,0,...,1,0,0,0,0,0,0,0,0,0
2,9,18,45,0,2,24,1,18,0,0,...,0,0,0,0,0,0,1,0,0,0
3,9,9,45,1,2,24,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,13,45,1,2,8,5,22,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
    df_tr.iloc[:, 0]

k = list(set(df_tr.iloc[:, 0]))
dict_x = dict(zip(k, range(len(k))))

pd.DataFrame([df_tr.iloc[:, 0], df_tr.iloc[:, 0].replace(dict_x)]).transpose()
df_tr.iloc[:, 0].value_counts()

a = df_tr.iloc[:, 0]
a.replace(dict_x)

pd.DataFrame([df_tr.iloc[:, 0], df_tr.iloc[:, 0].replace(dict_x)]).transpose()